.reviews__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 7px;
    margin-right: 67px;
    row-gap: 50px;
}

.reviews__list-item {
    width: calc(50% - 20px);
}

.reviews__list-item:last-child:nth-last-child(2n + 1) {
    width: 80%;
}

.reviews__list-head {
    display: block;
    margin-bottom: 14px;
}

@media (max-width: 1199px) {
    .reviews__inner {
        margin: 30px 0 0 0;
        row-gap: 80px;
    }

    .reviews__list-item {
        width: calc(50% - 10px);
    }

    .reviews__list-head {
        margin-bottom: 25px;
    }
}

@media (max-width: 767px) {
    .reviews__inner {
        margin: 22px 0 0 0;
        row-gap: 80px;
    }

    .reviews__list-item {
        width: 100%;
    }

    .reviews__list-head {
        margin-bottom: 10px;
    }
}