.container-balck {
  background: black;
}

.container-balck section {
  padding-top: 151px;
  padding-bottom: 150px;

  color: #FFF;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  row-gap: 85px;
  margin-top: 30px;
  margin-bottom: 106px;
}

.services__list-item {
  position: relative;
  width: calc(50% - 5px);
}

.services__list-img {
  margin-bottom: 25px;
  max-height: 389px;
  width: 100%;

  object-fit: cover;
}

.services__list-price {
  display: block;
  position: absolute;

  top: 31px;
  left: 30px;
  padding: 5px 21px;

  border-radius: 5px;
  background: #AD1818;
}

.services__buttom {
  width: 100%;
  padding: 56px 0;

  border-radius: 5px;
  background: #AD1818;

  color: #FFF;
  font-size: 30px;
  line-height: normal;
  letter-spacing: -0.9px;
}

@media (max-width: 1199px) {
  .container-balck section {
    padding-bottom: 120px;
  }

  .services__list {
    row-gap: 80px;
  }

  .services__list-img {
    margin-bottom: 15px;
  }

  .services__list-price {
    padding: 6px 26px;
  }
}

@media (max-width: 767px) {
  .container-balck section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .services__list {
    row-gap: 60px;
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .services__list__item {
    width: 100%;
  }

  .services__list-img {
    margin-bottom: 10px;
  }

  .services__list-price {
    padding: 5px 23px;
    top: 23px;
    left: 24px;
  }

  .services__buttom {
    padding: 37px 0;

    font-size: 22px;
    letter-spacing: -0.66px;
  }
}