/* Базовые настройки */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Manrope", sans-serif;
    width: 100%;
    background: #F5F5F5;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 125px;
    padding-bottom: 150px;
    background: #fff;
}



/* header */
.container__head {
    padding-top: 33px;
    padding-bottom: 68px;
}

.logo__link {
    display: inline-block;
    
    vertical-align: top;
}

.logo {
    display: block;
    width: 126.889px;
}

.nav {
    display: inline-block;
    margin-left: 553px;
    vertical-align: middle;
}

.nav__item {
    display: inline-block;
    margin-right: 58px;
    color: #121212;
    text-decoration: none;
    border-bottom: 1px solid;
    padding-bottom: 1px;
}

.nav__item:hover {
    color: rgb(139, 139, 139);
}

.nav__item:nth-last-child(1) {
    margin-right: 0;
}



/* Заголовки */
h1, .tel, .email {
    margin-bottom: 30px;

    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.8px;
}

h2 {
    font-size: 45px;
    /* line-height: normal; */
    letter-spacing: -1.35px;
}

h3 {
    font-size: 30px;
    line-height: normal;
    letter-spacing: -0.9px;
}

span, .nav__item, .nav__down__item__text {
    font-size: 18px;
    line-height: normal;
    letter-spacing: -0.54px;
}

p, .examples__detail {
    font-size: 20px;
    line-height: normal;
    letter-spacing: -0.6px;
}



/* model */
.model {
    width: 956px;
}

#model-photo {
    position: relative;
    height: 500px;

    background: url(../resources/Img1.png);
    background-size: cover;
}

.team {
    max-width: 430px;
    color: #FFF;

    position: absolute;
    bottom: 40px;
    left: 40px;
}



/* about */
#our2 {
    display: block;
    margin-bottom: 30px;
}

.studio {
    padding-left: 3px;
    margin-bottom: 30px;
    max-width: 1048px;
    height: 366px;
    color: var(--Text, #121212);
    line-height: 62px;
}

#place {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
    text-decoration: none;

    
    width: 255px;
    height: 67px;
    display: inline-flex;
    align-items: flex-start;
    padding: 20px 40px;
    gap: 10px;

    border-radius: 5px;
    background: var(--Accent, #AD1818);
}



/* projects */
.examples {
    margin-top: 30px;
    margin-bottom: 90px;
}

.examples__project {
    margin-bottom: 87px;
}

.examples__photo {
    margin-bottom: 15px;
    max-width: 1150px;
    height: 450px;
}

.examples__text {
    margin-bottom: 15px;
}

.examples__detail {
    color: var(--Accent, #AD1818);
}

.view-projects {
    display: block;
    max-width: 1150px;
    height: 153px;

    color: var(--Accent, #AD1818);
    text-align: center;
    line-height: 153px;
    font-size: 30px;
    letter-spacing: -0.9px;
    text-decoration: none;

    border-radius: 5px;
    border: 1px solid var(--Accent, #AD1818);
}

.view-projects:hover {
    background: var(--Accent, #AD1818);
    color: #FFF;
}



/* services */
.services {
    background: black;
}

.container__services {
    background: black;
    padding-top: 151px;
}

.vacancy2 {
    color: #FFF;
}

.services__list {
    margin-top: 34px;
}

.services__item {
    margin-bottom: 56px;
}

.services__item:nth-last-child(1) {
    margin-bottom: 0;
}

.services__item__photo {
    margin-bottom: 15px;
    max-width: 1150px;
    height: 270px;
}

.services__item__text {
    color: #FFF;
}



/* fullscreen */
.img9 {
    height: 717px;
    background-image: url('../resources/Img9.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.container__fullscreen {
    margin: 0 auto;
    width: 1400px;
    padding: 575px 125px 0;
}

.flat__text {
    width: 443px;
    color: #FFF;
}



/* contacts */
.container__contacts {
    padding-top: 186px;
    padding-bottom: 160px;
}

.contacts2 {
    display: block;
    margin-bottom: 32px;
    position: relative;
    text-transform: uppercase;
}

.contacts2::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('../resources/Img10.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 37px;
    left: -4px;
    background-position: 50%;
}

.tel {
    display: block;
    color: var(--Text, #121212);
    text-decoration: none;
}

.email {
    color: var(--Text, #121212);
    text-decoration: none;
    opacity: 0.5;
    border-bottom: 2px solid;
}



/* footer */
footer {
    background: black;
    padding-bottom: 30px;
}

.nav__down {
    display: block;
    margin: 0 auto;
    width: 450px;
    padding-top: 62px;
}

.nav__down__item__text {
    display: inline-block;
    margin-right: 52px; 
    color: #FFF;
    opacity: 0.5;
    text-decoration: none;
}

.nav__down__item__text:nth-last-child(2) {
    margin-right: 0;
}


.nav__down__item__text:hover {
    opacity: 1;
}

.finish__text {
    margin-top: 87px;
    color: #FFF;
    opacity: 0.5;
    text-align: center;
}

.finish__text:hover {
    opacity: 1;
}
